html, body, .App {
  text-align: center;
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-image: url('page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.ImageDiv {
  width:  500px;
  margin: 10px;
  height: 100%;
  align-self: flex-start;
  border-radius: 100;
  margin-top: 15%;
}
.IntroDiv {
  width:  500px;
  height: 100%;
  left: 0;
  align-self: center;
  flex-direction: column;
  display: flex;
}
.SpeechDiv {
  width : 150px;
  margin-top: 500px;
  margin-left: 150px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 100px;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


